html {
    height: 100%;
}
* {
    font-size: 14px;
}

body {
    height: 100%;
    margin: 0;
}

a {
    color: inherit;
}

main {
    height: 100%;
}

nav {
    height: 5%;
    width: 100%;
    display: flex;
    align-content: flex-end;
}

nav > .logo {
    flex: 2;
}

nav > .menuNavigation {
    flex: 1 1 40%;
}
nav > * {
    height: fit-content;
}

#content {
    width: 90%;
    max-width: 1200px;
    min-height: 80%;
    margin: 0 auto;
    padding-top: 15px;
}

.homeBackground {
    align-content: center;
    width: 100%;
    height: fit-content;
    position: relative;
}

.homeBackground > img {
    width: 100%;
}
.homeBackground > .backgroundSlogan {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;

    font-size: 40px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 200);
}
footer {
    display: flex;
    align-items: flex-end;
    height: 5%;
}

.footerPages {
    justify-content: right;
    display: flex;
    flex: 3;
}
.footerPages > * {
    margin: 0 5px;
}

footer > span {
    flex: 1;
}

.button {
    margin-bottom: 0;
}

.btn-outline-light:focus {
    background-color: #a6b2c5;
}

.homeContent {
    display: padding-box;
    padding: 10px 30px;
}
.homeContent > div {
    width: 80%;
    margin: auto;
}

li {
    margin-bottom: 0;
}

.eventBackground {
    max-height: 300px;
    max-width: 100%;
    width: auto;
    display: block;
}

.tag {
    color: #f7fff7;
    background-color: #2b4162;
    border-radius: 15px;
    padding: 5px 10px;
}

.removable {
    transition: background-color 0.5s;
}
.removable:hover {
    background-color: #e00;
    cursor: pointer;
}

.content-float > * {
    float: left;
}

.hidden {
    display: none;
}

.row-bg {
    background-color: lightgray;
}
