@import url("colors.css");

html {
    height: 100%;
}
* {
    font-size: 14px;
}

body {
    height: 100%;
    margin: 0;
}

a {
    color: inherit;
}

main {
    height: 100%;
}

.btn-custom {
    font-size: 1em !important;
    background-color: var(--darker-color) !important;
    border: none !important;
    border-radius: 5px !important;
    color: white !important;
    transition: background-color .15s ease-in !important;
}

.btn-custom:hover {
    background-color: var(--primary-color) !important;
}

.btn-custom:focus {
    box-shadow: 0 0 1px 1px var(--dark-color) !important;
}

.page-item span, .page-item a {
    color: var(--primary-color);
}

.page-item span:hover, .page-item a:hover {
    color: var(--primary-color);
}

.page-item span:focus, .page-item a:focus {
    color: var(--primary-color) !important;
    box-shadow: 0 0 0 .25rem rgba(45,68,95,.25) !important;
}

button.active {
    background-color: var(--primary-color) !important;
}

.nav-tabs {
    border-bottom: 1px solid var(--darker-color);
}

button.nav-link {
    border: none !important;
    color: var(--darker-color) !important;
}

button.nav-link.active {
    background-color: transparent !important;
    color: var(--primary-color) !important;
    border: none !important;
    border-bottom: 2px solid var(--primary-color) !important;
}

.input {
    border: 1px solid var(--dark-color);
    border-radius: 5px !important;
}

.input:focus {
    border-color: var(--primary-color) !important;
}

.small-card-wrapper .small-card {
    flex-direction: row-reverse !important;
}

footer {
    display: flex;
    align-items: flex-end;
    height: 5%;
}

#footer {
    z-index: 1000;
}

#footer div {
    background-color: white;
}

footer > span {
    flex: 1;
}

li {
    margin: 0;
}

.eventBackground {
    max-height: 300px;
    max-width: 100%;
    width: auto;
    display: block;
}

.tag {
    color: #f7fff7;
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 5px 10px;
}

.removable {
    transition: background-color 0.5s;
}
.removable:hover {
    background-color: #e00;
    cursor: pointer;
}

.content-float > * {
    float: left;
}

.hidden {
    display: none;
}

.error {
    color: red;
}

.errorBorder {
    border: 1px solid red !important;
}

.form-control {
    font-size: 1em !important;
}

.clickableIcon {
    cursor: pointer;
    transition: 0.5s;
    color: var(--primary-color);
    font-size: 1.2em;
    position: relative;
}

.clickable {
    cursor: pointer;
    transition: 0.5s;
}

.clickableIcon:hover {
    color: var(--secondary-color);
}

.notification-panel {
    width: 500px;
    max-height: 400px;
    overflow-y: auto;
}
.notification-panel .notification .icon .bi {
    font-size: 16px;
}

.notification {
    border-radius: 0px;
    border-top: 1px solid var(--dark-color);
    border-bottom: 1px solid var(--dark-color);
    background-color: var(--light-color);
}
.notification[seen="1"] {
    background-color: transparent;
}
.notification[seen="0"] {
    background-color: var(--light-color);
}
.notification-remove > span {
    color: var(--secondary-color);
}

.notification-count {
    position: absolute;
    top: -2px;
    right: -7px;
    font-size: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 100%;
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: 1px var(--light-color) solid;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    transform: rotate(0deg);
    animation: rotating 1s linear infinite;
}

div.bi {
    width: fit-content;
    height: fit-content;
}

#growls {
    z-index: 1;
    position: fixed;
    display: flex;
    gap: 15px;
    flex-direction: column;
    top: calc(30px);
    right: calc(15px);
}

.growl {
    position: relative;

    min-width: 200px;
    max-width: 400px;
    min-height: 50px;
    border-radius: 5px;
    opacity: 0.8;
    background: var(--light-color);
    padding: 10px 15px;
    border: var(--dark-color) solid 2px;
    font-size: 18px;
    z-index: 2;
    transition: opacity 1s;
}

.opacity0 {
    opacity: 0 !important;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--light-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--dark-color);
    transition: background-color 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

.transparent {
    transition: color 1s;
    color: transparent;
}

.black {
    color: #000;
}
