html {
    height: 100%;
}
* {
    font-size: 14px;
}

body {
    height: 100%;
    margin: 0;
}

a {
    color: inherit;
}

main {
    height: 100%;
}

#content {
    width: 90%;
    max-width: 1200px;
    min-height: 80%;
    margin: 0 auto;
    padding-top: 15px;
}

footer {
    display: flex;
    align-items: flex-end;
    height: 5%;
}

footer > span {
    flex: 1;
}

li {
    margin: 0;
}

.eventBackground {
    max-height: 300px;
    max-width: 100%;
    width: auto;
    display: block;
}

.tag {
    color: #f7fff7;
    background-color: #2b4162;
    border-radius: 15px;
    padding: 5px 10px;
}

.removable {
    transition: background-color 0.5s;
}
.removable:hover {
    background-color: #e00;
    cursor: pointer;
}

.content-float > * {
    float: left;
}

.hidden {
    display: none;
}

.error {
    color: red;
}

.errorBorder {
    border: 1px solid red;
}
