@import url("colors.css");

#navbar {
    background-color: var(--light-color);
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1) !important;
}

#navbar .nav-item {
    color: var(--primary-color) !important;
}

.navbar-brand h1,
.navbar-brand h1 .highlight {
    font-family: "Spartan", sans-serif;
    font-weight: 550;
    font-size: 30px !important;
}

.navbar-brand h1 .highlight {
    color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
    .navbar-brand {
        flex: 1 1 100%;
    }
}
